body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  color: #283645;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
