.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: rgba(18, 24, 31, 0.3);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 480px) {
    height: 65px;
  }
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
  transition: opacity .3s ease;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  &__img:first-child {
    margin-right: 10px;

    @media (max-width: 480px) {
      display: none;
    }
  }
}

.burger-menu {
  display: none;
  background: none;
  border: none;
  width: 50px;
  margin: 0;
  padding: 0;
  z-index: 101;
  cursor: pointer;
   &:focus {
    width: 0;
    margin-right: 50px;
   }

  &--line {
    display: block;
    position: relative;
    width: 50px;
    height: 5px;
    background-color: #ffffff;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 50px;
      height: 5px;
      background-color: #ffffff;
      transition: all .4s ease;
    }

    &::before {
      top: 10px;
    }

    &::after {
      top: -10px;
    }
  }

  &--active {
    background-color: transparent;
    width: 0;

    &::before {
      transform: rotate(45deg);
      top: 0;
    }

    &::after {
      transform: rotate(-45deg);
      top: 0;
    }
  }
}

@media (max-width: 768px) {
  
  .burger-menu {
    display: block;
  }

  .nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    top: -370px;

    &--show {
      top: 0;
    }
  }
}

.mobile-nav {
  display: none;
  padding-top: 110px;
  top: 0;
  left: 0;
  position: absolute;
  overflow: auto;
  width: 100%;
  background-color: #283645;
  transition: all .5s ease;

  @media (max-width: 480px) {
    padding-top: 65px;
  }

  &__link {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    height: 65px;
    text-align: center;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000000;
    transition: all 0.3s ease;

    &:hover {
      color: #d22856;
    }

    &:active {
      opacity: 0.3;
    }

    &:first-child {
      border-top: 1px solid #000000;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
}

.nav__link {
  margin-right: 80px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 0;
  transition: all .2s ease;

  &:first-child {
    margin-left: 80px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #d22856;
  }

  &:active {
    color: #ffffff;
    opacity: 0.3;
  }
}
// TODO nav__link--active

.active {
  border-bottom: 2px solid #ffffff;
}
