.reviews__slideshow {
  margin-top: 50px;
  position: relative;

  @media (max-width: 768px) {
    display: none;
  }
}

.reviews__slides {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 700px;
  position: relative;
}

.reviews__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s ease;
  text-align: center;

  &--show {
    z-index: 2;
    opacity: 1;
  }
}

.reviews__slideshow-buttons {
  z-index: 10;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20px;

  @media (max-width: 768px) {
    display: none;
  }

  &--control {
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    opacity: 0.6;
    padding: 10px 10px;
    width: 50px;
    transition: all 0.3s ease;
    border-radius: 5px;

    &:hover,
    &:focus {
      opacity: 1;
      background-color: rgba(61, 61, 61, 0.3);
    }
  }
}

.reviews__slider {
  display: none;
}

.slider {
  position: relative;
  flex-direction: column-reverse;

  @media (max-width: 768px) {
    display: flex;
  }

  &__toggle {
    display: none;
  }

  &__citates {
    overflow: hidden;
  }

  &__slides {
    width: 300%;
    transition: transform 0.8s ease;
  }

  &__item {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    width: 33.333%;
    float: left;

    @media (max-width: 480px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
  }

  &__control {
    margin-top: 35px;
    text-align: center;
  }

  &__label {
    display: inline-block;
    margin: 0 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

.slider__toggle--toggle-1:checked ~ .slider__control .slider__label--label-1,
.slider__toggle--toggle-2:checked ~ .slider__control .slider__label--label-2,
.slider__toggle--toggle-3:checked ~ .slider__control .slider__label--label-3 {
  background-color: #ffffff;
  box-shadow: 0 0 0 3px #283645;
}

.slider__toggle--toggle-1:checked ~ .slider__citates .slider__slides {
  transform: translate(0);
}

.slider__toggle--toggle-2:checked ~ .slider__citates .slider__slides {
  transform: translate(-33.333%);
}

.slider__toggle--toggle-3:checked ~ .slider__citates .slider__slides {
  transform: translate(-66.666%);
}
